:root {
    /* complete colour pallete */
    --blue:       #1c1c74;
    --darkgrey:   #707070;
    --green:      #6fb916;
    --lightgrey:  #f7f7fa;
    --pink:       rgba(214,1,18,.2);
    --red:        #d60112;
    --white:      #fff;

    /* font family */
    --font:      "Arial";







    /* exposed properties (don't cross-reference, inherit or pull from above) */
    --cookie-bg:                 var(--white);
    --cookie-txt:                var(--darkgrey);
    --cookie-link:               var(--darkgrey);
    --cookie-button-bg:          var(--darkgrey);
    --cookie-button-txt:         var(--white);
    --header-bg:                 var(--lightgrey);
    --header-txt:                inherit;
    --header-link:               inherit;
    --header-border:             none;
    --nav-bg:                    var(--white);
    --nav-border:                1px dashed var(--darkgrey);
    --nav-txt:                   var(--darkgrey);
    --nav-highlight-bg:          var(--lightgrey);
    --nav-highlight-txt:         inherit;
    --footer-bg:                 var(--lightgrey);
    --footer-txt:                var(--darkgrey );
    --footer-link:               inherit;
    --section-bg:                var(--white);
    --section-txt:               var(--darkgrey);
    --section-border:            1px dashed var(--darkgrey);
    --section-link:              var(--darkgrey);
    --section-header-bg:         var(--blue);
    --section-header-txt:        var(--white);
    --section-navbtn-bg:         var(--darkgrey);
    --section-navbtn-txt:        var(--white);
    --input-bg:                  var(--white);
    --input-txt:                 var(--darkgrey);
    --input-active-txt:          var(--darkgrey);
    --input-active-bg:           var(--lightgrey);
    --input-actionbtn-bg:        var(--white);
    --input-actionbtn-txt:       var(--green);
    --input-btn-bg:              var(--white);
    --input-btn-txt:             var(--darkgrey);
    --input-error-bg:            var(--white);
    --input-error-txt:           var(--red);
    --input-error-msg-bg:        var(--pink);
    --input-error-msg-txt:       var(--darkgrey);
    --help-btn-bg:               var(--white);
    --help-btn-txt:              var(--blue);
    --help-btn-active-bg:        var(--blue);
    --help-btn-active-txt:       var(--white);
    --help-bg:                   var(--white);
    --help-txt:                  var(--darkgrey);
    --help-border:               1px dashed var(--lightgrey);
}

/* global settings */
body {
    background-color: var(--white);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    border: 0;
}
section {
    max-width: 1000px;
    margin: 0.5rem auto;
}

/* Testing purposes only to prove ButtonSelect text can be styled */
.buttonTextPurple {
    color:darkmagenta;
}
.buttonTextOrange {
    color: darkorange;
}
.buttonTextBlue {
    color:deepskyblue;
}
.buttonTextGreen {
    color:darkgreen;
}