:root {
    /* complete colour pallete */
    --cn-blue:       #1c1c74;
    --cn-darkgrey:   #707070;
    --cn-green:      #6fb916;
    --cn-lightgrey:  #f7f7fa;
    --cn-pink:       rgba(214,1,18,.2);
    --cn-red:        #d60112;
    --cn-white:      #fff;

    /* font family */
    --cn-font:      "Linotype - Praxis Next Regular"; /* Also Light, SemiBold */







    /* exposed properties (don't cross-reference, inherit or pull from above) */
    --cookie-bg:                 var(--cn-white);
    --cookie-txt:                var(--cn-darkgrey);
    --cookie-link:               var(--cn-darkgrey);
    --cookie-button-bg:          var(--cn-darkgrey);
    --cookie-button-txt:         var(--cn-white);
    --header-bg:                 var(--cn-lightgrey);
    --header-txt:                inherit;
    --header-link:               inherit;
    --header-border:             none;
    --nav-bg:                    var(--cn-white);
    --nav-border:                1px solid var(--cn-lightgrey);
    --nav-txt:                   var(--cn-darkgrey);
    --nav-highlight-bg:          var(--cn-green);
    --nav-highlight-txt:         inherit;
    --footer-bg:                 var(--cn-lightgrey);
    --footer-txt:                var(--cn-darkgrey );
    --footer-link:               inherit;
    --section-bg:                var(--cn-white);
    --section-txt:               var(--cn-darkgrey);
    --section-border:            1px solid var(--cn-darkgrey);
    --section-link:              var(--cn-darkgrey);
    --section-header-bg:         var(--cn-blue);
    --section-header-txt:        var(--cn-white);
    --section-navbtn-bg:         var(--cn-green);
    --section-navbtn-txt:        var(--cn-white);
    --input-bg:                  var(--cn-white);
    --input-txt:                 var(--cn-darkgrey);
    --input-active-txt:          var(--cn-darkgrey);
    --input-active-bg:           var(--cn-lightgrey);
    --input-actionbtn-bg:        var(--cn-white);
    --input-actionbtn-txt:       var(--cn-green);
    --input-btn-bg:              var(--cn-white);
    --input-btn-txt:             var(--cn-darkgrey);
    --input-error-bg:            var(--cn-white);
    --input-error-txt:           var(--cn-red);
    --input-error-msg-bg:        var(--cn-pink);
    --input-error-msg-txt:       var(--cn-darkgrey);
    --help-btn-bg:               var(--cn-white);
    --help-btn-txt:              var(--cn-blue);
    --help-btn-active-bg:        var(--cn-blue);
    --help-btn-active-txt:       var(--cn-white);
    --help-bg:                   var(--cn-white);
    --help-txt:                  var(--cn-darkgrey);
    --help-border:               1px solid var(--cn-lightgrey);
}

/* global settings */
body {
    background-color: var(--cn-white);
    font-family: var(--cn-font);
    margin: 0;
    padding: 0;
    border: 0;
}
section {
    max-width: 1000px;
    margin: 0.5rem auto;
}