:root {
	/* complete colour palette */
	--lightpink: #f9e5ea;
	--pink: #e5007d;
	--darkpink: #b80565;
	--darkestpink: #a8045c;
	--lightgreen: #f3f9eb;
	--green: #8dc63f;
	--darkgreen: #7fb339;
	--darkestgreen: #74a234;
	--offwhite: #fafaf2;
	--white: #fff;
	--lightestgrey: #cecece;
	--lightgrey: #f7f7f7;
	--grey: #f2f2f2;
	--darkgrey: #707070;
	--black: #414141;
	--red: #d2232a;
	--yellow: #f6cf28;
	/* fonts */
	--mainfont: ITCAvantGardePro-Md;
	--infofont: ITCAvantGardePro-Bk;

	/* Brand-Component style mapping */
	--page-hdr-bg: var(--white);
	--page-hdr-txt: var(--green);
	--page-hdr-border: none;
	--page-hdr-width: 1000px;
	--page-hdr-head-height: 50px;
	--page-hdr-head-pad: 0 1rem;
	--page-logo-height: 50px;

	--page-width: 1000px;
	--page-head-height: 50px;
	--page-head-pad: 0 1rem;

	--page-ftr-bg: var(--darkgrey);
	--page-ftr-txt: var(--white);
	--page-ftr-width: 1000px;

	--section-hdr-height: 75px;
	--section-logo-height: 75px;
	--section-txt: var(--green);
	--section-bg: var(--white);
	--section-margin: 2rem;
	--section-hdr-border: 1px solid var(--green);
	/* exposed properties (don't cross-reference, inherit or pull from above) */
	/* --cookie-bg:                 var(--sg-lightgreen);
    --cookie-txt:                var(--sg-darkgrey);
    --cookie-link:               var(--sg-darkgreen);
    --cookie-button-bg:          var(--sg-darkgreen);
    --cookie-button-txt:         var(--sg-white);
    --header-bg:                 var(--sg-white);
    --header-txt:                var(--sg-darkgreen);
    --header-link:               var(--sg-darkgreen);
    --header-border:             none;
    --nav-bg:                    var(--sg-lightgrey);
    --nav-border:                1px solid var(--sg-darkgrey);
    --nav-txt:                   var(--sg-darkgrey);
    --nav-highlight-bg:          var(--sg-darkgreen);
    --nav-highlight-txt:         var(--sg-white);
    --footer-bg:                 var(--sg-lightgreen);
    --footer-txt:                var(--sg-darkgrey);
    --footer-link:               var(--sg-darkgreen);
    --section-bg:                var(--sg-white);
    --section-txt:               var(--sg-darkgreen);
    --section-border:            none;
    --section-link:              inherit;
    --section-header-bg:         var(--sg-darkgrey);
    --section-header-txt:        var(--sg-lightgreen);
    --section-navbtn-bg:         var(--sg-darkgreen);
    --section-navbtn-txt:        var(--sg-white);
    --input-bg:                  var(--sg-white);
    --input-txt:                 var(--sg-darkgrey);
    --input-active-txt:          var(--sg-darkgrey);
    --input-active-bg:           var(--sg-white);
    --input-actionbtn-bg:        var(--sg-lightgreen);
    --input-actionbtn-txt:       var(--sg-darkgreen);
    --input-btn-bg:              var(--sg-lightgreen);
    --input-btn-txt:             var(--sg-darkgrey);
    --input-error-bg:            var(--sg-pink);
    --input-error-txt:           var(--sg-darkgrey);
    --input-error-msg-bg:        var(--sg-pink);
    --input-error-msg-txt:       var(--sg-red);
    --help-btn-bg:               var(--sg-darkgreen);
    --help-btn-txt:              var(--sg-white);
    --help-btn-active-bg:        var(--sg-pink);
    --help-btn-active-txt:       var(--sg-white);
    --help-bg:                   var(--sg-white);
    --help-txt:                  var(--sg-darkgrey);
    --help-border:               1px solid var(--sg-white); */
}

/* global settings */
body {
	background-color: var(--sg-lightgrey);
	font-family: var(--sg-font);
	margin: 0;
	padding: 0;
	border: 0;
}
section {
	max-width: 1000px;
	margin: 0.5rem auto;
}
