:root {
	/* complete colour palette */
	--lightpink: #f9e5ea;
	--pink: #e5007d;
	--darkpink: #b80565;
	--darkestpink: #a8045c;
	--lightgreen: #f3f9eb;
	--green: #8dc63f;
	--darkgreen: #7fb339;
	--darkestgreen: #74a234;
	--offwhite: #fafaf2;
	--white: #fff;
	--lightestgrey: #cecece;
	--lightgrey: #f7f7f7;
	--grey: #f2f2f2;
	--darkgrey: #707070;
	--black: #414141;
	--red: #d2232a;
	--yellow: #f6cf28;
	/* fonts */
	--mainfont: ITCAvantGardePro-Md;
	--infofont: ITCAvantGardePro-Bk;

	/* Brand-Component mappings */
	--page-width: 1000px;
	--page-bg: var(--lightgreen);
	--page-padding: 0;

	--title-bg: var(--white);
	--title-txt: var(--green);
	--title-padding: 2rem;
	--title-border: 0;
	--title-height: 5rem;

	--page-hdr-bg: var(--darkgrey);
	--page-hdr-txt: var(--green);
	--page-hdr-border: none;
	--page-hdr-padding: 1rem 2rem;
	--page-hdr-width: 1000px;
	--page-hdr-height: 3rem;

	--page-ftr-bg: var(--darkgrey);
	--page-ftr-txt: var(--white);
	--page-ftr-border: none;
	--page-ftr-padding: 0;
	--page-ftr-width: 1000px;

	--page-btn-padding: 0.75rem;
	--page-btn-bg: var(--darkgrey);
	--page-btn-txt: var(--white);
	--page-btn-font-weight: bold;

	--section-hdr-bg: var(--white);
	--section-hdr-txt: var(--green);
	--section-hdr-border: 2px solid var(--grey);
	--section-hdr-padding: 1rem;
	--section-hdr-height: 3rem;

	--section-txt: var(--black);
	--section-bg: var(--white);
	--section-padding: 2rem 1rem;
	--section-border: none;

	--section-btn-padding: 1rem;
	--section-btn-bg: var(--lightgrey);
	--section-btn-txt: var(--black);
	--section-btn-font-weight: normal;

	--component-padding: 1rem;
	--component-bg: var(--white);
	--component-txt: var(--darkgrey);
	--component-border: none;
	--component-active-bg: var(--highlight);
	--component-active-txt: inherit;
	--component-error-bg: var(--pink);
	--component-error-txt: var(--red);

	--display-bg: var(--white);
	--display-txt: var(--darkgrey);
	--display-border: 1px solid var(--darkgrey);
	--display-padding: 1.5rem;
	--display-active-bg: var(--white);
	--display-active-txt: var(--darkgrey);

	--input-padding: 0.25rem;
	--input-txt: var(--darkgrey);
	--input-bg: var(--white);
	--input-active-bg: var(--highlight);
	--input-active-txt: var(--darkgrey);
	--input-error-bg: var(--pink);
	--input-error-txt: var(--red);
	--input-error-border: 2px solid var(--red);

	--input-btn-txt: var(--darkgrey);
	--input-btn-bg: var(--white);
	--input-btn-padding: 0.5rem;
	--input-btn-border: 1px solid var(--darkgrey);
	--input-btn-active-bg: var(--darkgrey);
	--input-btn-active-txt: var(--white);
	--input-btn-hover-bg: var(--lightgrey);
	--input-btn-hover-txt: var(--darkgrey);

	--help-bg: inherit;
	--help-txt: var(--darkgrey);
	--help-border: 1px dashed var(--lightgrey);

	--progress-bg: var(--white);
	--progress-txt: var(--darkgrey);
	--progress-padding: 0;
	--progress-border: 1px solid var(--darkgrey);
	--progress-active-bg: var(--lightgrey);
}

/* global settings */
body {
	background-color: var(--lightgreen);
	font-family: var(--sg-font);
	margin: 0;
	padding: 0;
	border: 0;
}
section {
	max-width: 1000px;
	margin: 0.5rem auto;
}
